.our-products {
  margin-top: 40px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  /* font-weight: lighter; */
}

.our-products h2 {
  margin: 10px;
  padding: 10px 0;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 120px; */
  border-top: 1px solid lightgray;
  margin: 10px 12px;
  padding: 25px 20px;
}

.pro-content :nth-child(3) {
  margin-top: -20px;
}

.pro-price {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.pro-price a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 24px;
  gap: 5px;
}

.pro-price a p {
  padding-top: 12px;
}

.pro-price span {
  font-size: 30px;
}

.pro-price button {
  background-color: black;
  color: white;
  border-radius: 8px;
  filter: none;
  border: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 18px 36px;
  font-size: 20px;
  line-height: 1.3333333;
}

.pro-price button:hover {
  opacity: 0.8;
}

.pro-price button:active {
  opacity: 1;
  background-color: #3dc75b;
}
