* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 40px;
}

/* ===== Navbar ======= */

.navvbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.brand img {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-weight: bold;
  margin-left: 10px;
  font-size: x-large;
}

.menu {
  margin-left: -100px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 16px 10px 0 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  text-decoration: underline;
  color: gray;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.dropdown-item i {
  width: 20px;
  height: 20px;
  margin-right: 0px;
}

.dropdown-text {
  margin-right: 5px;
}

.dropdown-toggle {
  transition: linear 0.4s;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: lightgray;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 20px;
  top: calc(100% + 5px);
  left: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
}

.dropdown-item span:hover {
  text-decoration: underline;
  color: gray;
  cursor: pointer;
}

#dropdown-menu-1 {
  left: -14px;
}

#dropdown-menu-2 {
  right: 10px;
  left: -83px;
}

.show {
  display: block;
}

.separator {
  width: 1px;
  height: calc(2em + 4px);
  background-color: #ccc;
  margin: 0 10px;
}

/* ===== Search Bar ======= */

.search-bar {
  color: gray;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  border: 1px solid gray;
  border-radius: 2px;
}

.search-item {
  padding: 0 10px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  border-right: 1px solid gray;
}

.search-item:nth-child(1),
.search-item:nth-child(2) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.search-item:nth-child(1) input,
.search-item:nth-child(2) input {
  border: none;
  padding-left: 10px;
  width: 80%;
}

.search-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-item:nth-child(3) p {
  margin-top: 14px;
  width: 70%;
}

.search-item:nth-child(4) button {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.search-btn {
  padding: 0;
  border-right: none;
}

.search-item:nth-child(4) button:hover {
  opacity: 0.8;
}

/* ===== Jobs-Partners ======= */

.jobs-partners {
  color: gray;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 50px;
  gap: 30px;
}

.our-partners-head {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  color: #656464;
}

.post-job-head button {
  width: 100%;
  color: white;
  background-color: #2e56f7;
  border: 1px solid #0538fa;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
}

.post-job-head button:hover {
  background-color: #0538fa;
}

.post-job-head p {
  font-size: 18;
  margin-bottom: 0;
}

.post-job-head span {
  font-size: 16;
  color: lightgray;
}

.post-job-body {
  padding: 20px;
  margin-top: 30px;
  color: darkslategray;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.post-job-body a {
  text-decoration: none;
}

.post-job-body a:hover {
  text-decoration: underline;
}
